img{
    width: 20px;
}
.b1{
    text-align: center;
    background-color: #444169;
    border: #444169 4px solid;
    border-radius: 4px;
    list-style: none;
    overflow: auto;
    padding: 15px 20px;
    margin: 10px;
    
}
a{
    text-decoration: none;
    color: white;
    float: left;
    margin: 15px;
    padding: 5px 35px;
    
    
   
} 
#b4{
    background-color: #444169;
    border: 2px #444169 solid;
    border-radius: 3px;
    color:white;
}


#container{
    max-width: 960px;
    margin: 30px auto;
}

.b1 li a:hover{
    background-color:rgb(50, 40, 100) ;
}

.nav{
    width:100px ;
    float: left;
    padding: 10px;
    margin: 15px;
}






    